.form-get
	h3.
		Trade and get OTN tokens
	form
		.form-get__item
			input.form-get__input(type="text", placeholder="Your email")
		.form-get__item
			input.form-get__input(type="password", placeholder="Your password")
		.form-get__button
			button.btn.btn_submit(type="submit").
				Get OTN tokens