.head-block
	.container
		.head-block__row
			.row
				.col-sm-3
					.logo
						img(src="images/logo.svg", alt="iq options")
				.col-sm-offset-6.col-sm-3
					include token-left
		.head-block__row
			.row
				.col-sm-7.col-md-6
					.head-block__title
						|Buy cryptos - get free tokens
					.head-block__text
						|Trade cryptocurrencies on IQ Option and get OTN tokens
				.col-sm-5.col-md-offset-1
					include form-get