.head-block
	.container
		.head-block__row
			.row
				.col-sm-offset-1.col-sm-3
					.logo
						img(src="images/logo.svg", alt="iq options")
				.col-sm-offset-4.col-sm-3
					include token-left
		.head-block__row
			.container
				.row
					.col-sm-offset-1.col-sm-5
						h1
							|Buy cryptos - get free tokens
						.head-block__text
							|Trade cryptocurrencies on IQ Option and get OTN tokens
					.col-sm-4.col-sm-offset-1
						include form-get