.otn-block
	.container
		.otn-block__columns
			.otn-block__col-left
				h2.
					Meet the OTN!
				ul.otn-block__list
					li.otn-block__list-item
						.otn-block__list-icon
							img(src="images/otn-wallet.svg", alt="")
						|OTN_Wallet
					li.otn-block__list-item
						.otn-block__list-icon
							img(src="images/otn-business.svg", alt="")
						|OTN_Business
					li.otn-block__list-item
						.otn-block__list-icon
							img(src="images/otn-exchange.svg", alt="")
						|OTN_Exchange
			.otn-block__col-right
				.otn-block__logo
					img(src="images/otn-logo.svg", alt="")
				p.
					Open Trading Network is&nbsp;the first 100% collateralized decentralized
					exchange which will allow fully secure exchange between
					&npsp;the blockchain networks. OTN foundation is committing itself
					&npsp;to develop the network described in the white paper&nbsp;and
					&npsp;also several applications&npsp;to help different stakeholders
					&npsp;to benefit from the network.