#priceBlock.price-block(style="display: none")
	.container
		.row
			.col-sm-offset-1.col-sm-3
				.price-block__price
					|Exchange price: $78
			.col-sm-3
				.price-block__mining-cost
					|Mining cost: $62
			.col-sm-3
				button#startBtn.btn.btn_primary
					|Start mining