.btn {
  display: inline-block;
  border: none;
  border-radius: rem-calc(5);
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  line-height: 2;
  padding: rem-calc(12) rem-calc(30);
  text-transform: uppercase;
  color: #fff;
  background: #ff7a00;
  background-size: 100%;
  position: relative;
  z-index: 1;
  &:before {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: rem-calc(5);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -100;
    content: '';
    transition: all 300ms;
  }
  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

.btn_submit {
  background: linear-gradient(90deg, #ff7a00 0%, #ffa700 100%);
  &:before {
    background: linear-gradient(90deg, #ffa700 0%, #ff7a00 100%);
  }
}

.btn_primary {
  background: linear-gradient(90deg, #0fae23 0%, #25cb28 100%);
  &:before {
    background: linear-gradient(90deg, #25cb28 0%, #0fae23 100%);
  }
}
