.head-block {
  min-height: 100vh;
	padding: rem-calc(40) 0 0;
	background: url('../images/background-1.jpg') rem-calc(-100) 50% no-repeat;
	background-size: cover;
	color: #fff;
}

.head-block__title {
	font-weight: bold;
	font-size: rem-calc(68);
	line-height: 1.1;
	margin-bottom: rem-calc(19);
}

.head-block__text {
	margin-bottom: rem-calc(60);
}
