.tutorial__phone {
	margin: 0 auto rem-calc(68);
	position: relative;
	padding: 0 rem-calc(15);
}

.tutorial__mobile-title {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: rem-calc(20);
}

.tutorial__arrow {
	display: none;
	width: rem-calc(166);
	position: absolute;
	top: 0;
	right: 100%;
	svg {
		display: block;
		width: 100%;
		height: auto;
		overflow: visible;
		.tut-arr {
			font-family: $main-font;
			font-weight: bold;
			font-size: rem-calc(42.8555);
		}
		text,
		path {
			fill: $font-color;
		}
	}
}

.tutorial__phone-image {
	display: none;
	width: 100%;
	height: auto;
}

.tutorial__video {
	width: 100%;
	video {
		display: block;
		width: 100%;
		height: auto;
	}
}

.tutorial__steps {
	max-width: rem-calc(320);
	margin: 0 auto;
}

.tutorial__steps-item {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: rem-calc(50);
	font-size: rem-calc(20);
	font-weight: bold;
	&:first-child {
		.tutorial__step-number {
			padding-right: rem-calc(5);
		}
	}
}

.tutorial__step-number {
	min-width: rem-calc(66);
	max-width: rem-calc(66);
	text-align: center;
	line-height: rem-calc(66);
	font-size: rem-calc(47);
	font-weight: bold;
	background: url('../images/step-cloud.svg') 0 0 no-repeat;
	background-size: cover;
	margin-right: rem-calc(30);
}

@media (min-width: 360px) {
	.tutorial__steps {
		max-width: none;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		flex: 0 0 auto;
		margin: 0 auto;
	}

	.tutorial__steps-item {
		min-width: 50%;
		max-width: 50%;
		padding: 0 rem-calc(15);
	}
}

@media (min-width: 768px) {
	.tutorial__phone {
		max-width: rem-calc(614);
		padding: 0;
	}

	.tutorial__mobile-title {
		display: none;
	}

	.tutorial__arrow {
		display: block;
	}

	.tutorial__phone-image {
		display: block;
	}

	.tutorial__video {
		width: auto;
		position: absolute;
		top: 1rem;
		left: rem-calc(80);
		right: rem-calc(86);
		video {
			display: block;
			width: 100%;
			height: auto;
		}
	}
}