@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Regular.ttf'),
		url('../fonts/ProximaNova-Regular.eot'),
		url('../fonts/ProximaNova-Regular.woff');
	font-weight: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Bold.ttf'),
		url('../fonts/ProximaNova-Bold.eot'),
		url('../fonts/ProximaNova-Bold.woff');
	font-weight: bold;
}

$main-font: 'ProximaNova', sans-serif;

@import 'util';

html {
	height: 100%;
	font: normal 12px/1.167 $main-font;
}
body,
html {
	height: 100%;
	background: #f2f5fa;
}

body {
	min-height: 100%;
	font: inherit;
	font-size: 100%;
}

.container {
	max-width: rem-calc(500, 12);
}

.row {
	margin: {
		left: rem-calc(-15);
		right: rem-calc(-15);
	};
	[class*="col-"] {
		padding: {
			left: rem-calc(15);
			right: rem-calc(15);
		};
	}
}




// components

@import 'buttons';
@import 'logo';
@import 'token-left';
@import 'head-block';
@import 'form-get';
@import 'price-block';


@media (min-width: 768px) {
	.container {
		max-width: none;
	}
}

@media (min-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
	html {
		font-size: 20px;
	}
	.container {
		width: 1330px;
	}
}

@media (min-width: 1600px) {
	html {
		font-size: 24px;
	}
	.container {
		width: 1500px;
	}
}