doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title iq options
		script(
			src="https://code.jquery.com/jquery-3.2.1.min.js",
			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=",
			crossorigin="anonymous")

		script(type="text/javascript", src="https://www.gstatic.com/charts/loader.js")
		




		link(href="css/libs.css", rel="stylesheet")
		link(href="css/main.min.css", rel="stylesheet")
	body
		div#wrap
			include components/head-block
			include components/price-block
			include components/chart-block
			include components/tutorial
			include components/exchanges-block

			//- include ../modules/fixed-social/module
			//- include ../modules/header/module
			//- block content
		//- include ../modules/footer/module


		//- файлы скриптов

		//- script(type="text/javascript", defer, src="js/libs.js") 
		script(type="text/javascript", src="js/script.min.js")
		//- block scripts
